
@{
    ViewBag.Title = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Пользователь</th>
            <th>Результат</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var favoriteRes in ViewBag.FavoriteRes)
            {
            <tr>
                <td></td>
                <td>@favoriteRes.Id</td>
                <td>@favoriteRes.User.Id</td>
                <td>@favoriteRes.Result.Id</td>
            </tr>
        }
    </tbody>
</table>

